<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <title>MTR Indumentaria</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">

</head>
<body>

  <header>
    <h1>MTR Indumentaria</h1>

    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
    <li><a href="/?category=Indumentaria">Indumentaria</a></li>
    <li><a href="/?category=Cascos">Cascos</a></li>
    <li><a href="/?category=Botas">Botas</a></li>
    <li><a href="/realTimeProducts">Agregar productos</a></li>
    <li><a href="/cart/{{cartId}}">Mi carrito</a></li>
      </ul>
    </nav>
  </header>

  
  <main>
    {{{body}}}
  </main>

  
  <footer>
    <p>© {{year}} MTR Indumentaria - Motocross & Offroad</p>
  </footer>

</body>
</html>